* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}

.one {
    background-color: #1f2937;
}

.header {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    height: 72px;
    align-items: center;
}

.logo {
    font-size: 48px;
    color: #f9faf8;
    margin-right: auto;
    font-weight: 700;
}

ul.headerlinks {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.two {
    background-color: white;
}

.three {
    background-color: #e5e7eb;
}

.four {
    background-color: white;
}