* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.one {
    background-color: #1f2937;
}

.header {
    display: flex;
}

.logo {
    font-size: 48px;
    color: #f9faf8;
    margin-right: auto;
}

ul.headerlinks {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.two {
    background-color: white;
}

.three {
    background-color: #e5e7eb;
}

.four {
    background-color: white;
}