@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

.one {
    background-color: #1f2937;
    display: flex;
    padding: 100px 15%;
}

.header {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    height: 72px;
    background-color: #1f2937;
    padding: 0 15%;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
    font-weight: 900;
}

ul.headerlinks {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
}

.two {
    background-color: white;
}

.three {
    background-color: #e5e7eb;
}

.four {
    background-color: white;
}